# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json

# Global ignores
node_modules/
.DS_Store
Thumbs.db
*.bak
*.bak.*
*.tmp
*.swp
*.orig
*.log
.vscode/
.idea/
TEMP/

# Global Linting & Tooling
.htmlhintrc
.stylelintrc.json
eslint.config.mjs
package-lock.json
